.form-content {
    margin-top: 4.4%;
}

.flag-img {
    width: 8%;
    margin-right: 10px;
}

/* Upload avt */
.avt-model {
    margin-left: 40%;
    margin-top: 10%;
}

.avt-img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    border: 1px solid #23c0e9;
}

.avt-model .avt-upload-btn {
    margin-left: 9%;
    background-color: #23c0e9;
}

.modal-content-container {
    height: 480px;
    width: 480px;
}

.container .wrapper {
    position: relative;
    height: 300px;
    width: 100%;
    border-radius: 10px;
    background: #fff;
    border: 2px dashed #c2cdda;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-top: 20px;
}

.wrapper.active {
    border: none;
}

.wrapper .image {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.wrapper .icon {
    font-size: 100px;
    color: #6dd5ed;
}

.wrapper .text {
    font-size: 20px;
    font-weight: 500;
    color: #5b5b7b;
}

.wrapper #cancel-btn i {
    position: absolute;
    font-size: 20px;
    right: 15px;
    top: 15px;
    color: #2f80ed;
    cursor: pointer;
    display: none;
}

.wrapper.active:hover #cancel-btn i {
    display: block;
}

.wrapper #cancel-btn i:hover {
    color: #e74c3c;
}

.wrapper .file-name {
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding: 8px 0;
    font-size: 18px;
    color: #fff;
    display: none;
    background: linear-gradient(to right, #56ccf2, #2f80ed);
}

.wrapper.active:hover .file-name {
    display: block;
}

.container #custom-btn {
    margin-top: 30px;
    display: block;
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 25px;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    background: linear-gradient(to right, #56ccf2, #2f80ed);
}

.modal-btn {
    display: inline;
    align-items: center;
}

.btn-cancel,
.btn-save {
    margin-top: 30px;
    width: 48%;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 25px;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    background: linear-gradient(to right, #56ccf2, #2f80ed);
}

.btn-cancel {
    background: linear-gradient(to right, #8e9eab, #eef2f3) !important;
}

.cv-list-container {
    margin-top: 10%;
}

.cv-list-title {
    text-align: center;
    margin-bottom: 5%;
}

.cv-img {
    height: 350px;
    width: 35%;
    margin-left: 10%;
}

.image_info {
    position: relative;
}

.image_info .cover_photo img {
    width: 100%;
}

.image_info .logo {
    position: absolute;
    bottom: -85px;
    left: 50px;

    display: flex;
    align-items: center;

    height: 170px;

    background-color: white;
}

.image_info .logo img {
    width: 170px;
}

.description {
    white-space: pre-wrap;
    margin-top: 40px;
}

.employer_info {
    margin-top: 50px;
}

.employer_info dt,
.employer_info dd {
    margin-top: 20px;
}

.employer_info a {
    color: blue;
}

.hidden {
    display: none;
}

.unstyled {
    all: unset;
}

.cursor-pointer {
    cursor: pointer;
}

ul {
    list-style: outside none none;
    padding: 0;
}

.header {
    top: 0;
}

main {
    margin-top: 65px;
    margin-left: 250px;
}

.candidates-container .job-title {
    margin: 0 80px;
}

.candidates-list {
    padding: 40px 80px;
}

.candidate-item {
    height: 160px;
    padding: 20px 40px;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.candidate-item:nth-child(odd) {
    background-color: hsl(0, 0%, 95%);
}

.candidate-item .avatar {
    width: 120px;
    float: left;
}

.candidate-item .avatar img {
    width: 120px;
    height: 120px;
}

.candidate-info {
    margin-left: 40px;
    width: calc(65% - 20px);
}

.candidate-info .name,
.candidate-info .address {
    padding: 5px 10px;
}

.candidate-info .name {
    font-weight: bold;
    font-size: 1.25em;
}

.candidate-item .actions {
    width: calc(35% - 20px);
    float: right;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.cv-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1050;
}

.cv-overlay {
    width: 100%;
    height: 100%;

    background-color: hsla(0, 0%, 0%, 0.8);
}

.cv-viewer {
    width: 80%;
    height: 100%;
    position: absolute;

    top: 0;
    left: 10%;
    z-index: 1060;
}

.manage-jobs-sec > h3 {
    float: left;
    width: 100%;
    margin-top: 40px;
    border-bottom: 1px solid #edeff7;
    font-size: 20px;
    color: #202020;
    font-weight: bold;
    margin: 0;
    margin-top: 0px;
    margin-top: 0px;
    padding-bottom: 20px;
    padding-left: 30px;
    margin-top: 40px;
}
.manage-jobs-sec {
    float: left;
    width: 100%;
}

.manage-jobs-sec .edu-history-sec,
.manage-jobs-sec .mini-portfolio,
.manage-jobs-sec .progress-sec {
    padding-left: 30px;
}

.manage-jobs-sec .extra-job-info {
    border: 2px solid #e8ecec;
    padding: 20px 30px;
    margin-left: 30px;

    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
}
.manage-jobs-sec .extra-job-info > span {
    float: left;
    width: 32.334%;
    padding: 0;
    border: none;
    margin: 0;
}
.manage-jobs-sec > table {
    float: left;
    width: calc(100% - 30px);
    margin-top: 50px;
    margin-bottom: 60px;
    margin-left: 30px;
}
.manage-jobs-sec > table thead tr td {
    font-size: 15px;
    font-weight: bold;
    color: #fb236a;
    padding-bottom: 14px;
}
.manage-jobs-sec > table thead {
    border-bottom: 1px solid #e8ecec;
}
.table-list-title > h3 {
    font-size: 16px;
    color: #202020;
    margin: 0;
    display: table;
}
.table-list-title > span {
    font-size: 13px;
    color: #888888;
    float: left;
    margin-top: 0px;
    line-height: 10px;
    margin-top: 8px;
    display: table;
}
.table-list-title > span i {
    float: left;
    font-size: 15px;
    color: #999999;
    margin-right: 5px;
    line-height: 11px;
}
.applied-field {
    float: left;
    font-size: 13px;
    color: #888888;
}
.manage-jobs-sec > table tbody td > span {
    float: left;
    display: table;
    font-size: 13px;
    color: #888888;
}
.manage-jobs-sec > table tbody td {
    vertical-align: middle;
    padding: 29px 0;
    border-bottom: 1px solid #e8ecec;
}
.status {
    color: #7dc246 !important;
}
.status.active {
    color: #8b91dd !important;
}
.action_job {
    margin: 0;
    text-align: center;
    font-size: 1.5em;
}
.action_job > li {
    float: left;
    margin: 0 10px;
    position: relative;
}
.action_job > li:last-child {
    margin-right: 0;
}
.action_job > li > a {
    float: left;
    font-size: 15px;
    color: #9c9c9c;
    padding: 0 6px;
}
.action_job > li span {
    position: absolute;
    left: 50%;
    bottom: 100%;
    opacity: 0;
    visibility: hidden;
    background: #0f36a5;
    color: #ffffff;
    width: 80px;
    font-size: 12px;
    padding: 5px 0;

    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;

    margin-left: -40px;
    margin-bottom: 9px;
}
.action_job > li:hover span {
    opacity: 1;
    visibility: visible;
}
.action_job > li span::before {
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 10px;
    height: 10px;
    content: '';
    background: #0f36a5;
    margin-left: -5px;
    margin-bottom: -4px;

    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);

    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
}

.recent-jobs {
    background-color: hsl(0, 0%, 100%);
}

.recent-jobs-header {
    float: unset;
    margin-top: 60px;
    margin-left: 40px;
}

.recent-jobs-list {
    padding: 10px;
}

.recent-jobs-list .job-item {
    margin-top: 20px;
    padding: 20px 40px;
}

.recent-jobs-list .job-item:hover {
    background-color: hsl(0, 0%, 90%);
}

.recent-jobs-list .job-title {
    font-weight: bold;
    font-size: 1.2em;
}

.recent-jobs-list .job-title,
.recent-jobs-list .job-location {
    color: hsl(0, 0%, 20%);
}

.action-job i {
    font-size: 2em;
}

.action-job .action:not(:first-child) {
    margin-right: 20px;
}

.action-job .action {
    position: relative;
    float: right;
}

.action-job .action:hover {
    color: hsl(0, 0%, 0%);
}

.action-job .hint {
    position: absolute;
    left: 50%;
    bottom: 100%;
    margin-left: -40px;
    margin-bottom: 9px;
    padding: 5px 0;
    width: 80px;
    border-radius: 8px;

    opacity: 0;
    visibility: hidden;
    background: #0f36a5;
    color: #ffffff;

    font-size: 12px;
    text-align: center;
}

.action-job .action:hover .hint {
    opacity: 1;
    visibility: visible;
}
